{% extends 'base/layout.html' %}

{% block content %}
<div style="padding: 5%">
<p>
    <h3>
        {{msg1}}
      
        
        <div class="text-center">
                
        <h2 style="color:dodgerblue">Create your Profile</h2>
    </div>
     

    </h3>
</p>
</div>

<div class="table">
    <div class="row">
        <div class="col">

        </div>
        <div class="col-md-2">
                {% if forms %}
                
                <form action="/accview/" method="post">
                    {% csrf_token %}
                   
                        <div class="form-group">
                          username: <br>   {{forms.user}}
                            <br>
                            <br>
                      Account type:    <br>  {{forms.typeaccount}}
                            <br>
                            <br>
                          Balance:   <br>    {{forms.balance}}
                        </div>
                    
                    <input type="submit" value="Create Account" class="btn btn-outline-primary">
                </form>
                
            {% else %}
                    <p class="text-danger">No Form Available</p>
            {% endif %}
        </div>
        <div class="col">

            </div>

    </div>
</div>

{% endblock %}