<html>
    
    <head>
        <title>

        </title>
        <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">
        
    
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
     
    </head>
    
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="#">Django-PAY</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
      
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/proview">Back to Shopping</a>
                </li>
                
              </ul>
              
            </div>
          </nav>
        <main role="main" class="ex1" style="padding: 5%">
            <body style="background: skyblue; background-size: cover" background="skyblue" background-size="cover">
      <div class="container">
        
        <div class="row">
          
        <div class="col-md-4">
          </div>
        <div class="col">
        <h3 style="color :crimson; ">Hello {{request.user.username}} !!</h3> 
        <br>
        <br>
        <h3 style="color :crimson;"> Your balance is : {{balance}}</h3>
      </div>
      </div>
        <br><br>

<button type="submit" id="formButton1" class="btn btn-primary">Send Money</button>

<br>
<br>
<div class="container">
    <form id ="form1" style="display: none" method="post">
        {% csrf_token %}
        <div class="col-md-4">
        <strong>Name</strong>:  &nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;   <input type="text" name="username" placeholder="Enter Username"> <br><br>
        <strong>Amount</strong>:&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="amount" placeholder="Enter Amount"> <br><br>
        <input type="submit" value="Submit" class="btn-btn primary">
      </div>
    
    </form>

</div>

<button type="submit" id="formButton2" class="btn btn-primary">Request Money</button>
<br>
<br>
<div class="container">
    <form id ="form2" style="display: none" method="post" >
        {% csrf_token %}
        <div class="col-md-4">
        <strong>Name</strong>:  &nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;   <input type="text" name="username" placeholder="Enter Username"> <br><br>
        <strong>Amount</strong>:&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="Requiredamount" placeholder="Enter Amount"> <br><br>
        <input type="submit" value="Submit" class="btn-btn primary">
      </div>
    
    </form>

</div>

        
      </div>
      
        <br><br>
        </main>
        
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

            <script>
                $(document).ready(function() {
         $("#formButton1").click(function() {
           $("#form1").toggle();
         });
       });
       
              </script>

<script>
    $(document).ready(function() {
$("#formButton2").click(function() {
$("#form2").toggle();
});
});

  </script>
    </body>
  </body>
</html>