
        {% extends 'base/layout.html' %}
        asdfa
{% block content %} 
 <div class="container" style="padding:10%">
        <form method="post" id="demo">
                 
                    {% csrf_token %}
                      <input type="text" name="username" placeholder="Enter Username">
                      <input type="text" name="amount" placeholder="Enter Amount">
                      <input type="submit" value="submit">
                    </form>

                </div>



                    {% endblock %} 