<html>
    
    <head>
        <title>

        </title>
        <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="#">Django-PAY</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
      
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/proview">Back to Shopping</a>
                </li>
                
              </ul>
             
            </div>
          </nav>
        <main role="main" class="ex1">
      
        

                <div class="container" >
                        <div class="row">
                            <div class="col"></div>
                            <div class="col"></div>
                            <div class="col"></div>
                            <div class="col"></div>
                        </div>
                        <div class="row">
                          <h1></h1>
                          <h1></h1>
                          
                        </div>
                        <div class="row">
                          <h1></h1>
                        </div>
                        <div class="row">
                            <h1></h1>
                          </div>
                          <div class="row">
                              <h1></h1>
                            </div>
                    </div>
                    
                    {% if myproducts %}
                    
                    
                    <body background="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSc7_ah1GzmJpMtehNDNJVd5scOJP5hhwvxFBgLfyskbeX19OzVbw">
                    <div class="container">
                        <table class="table">
                            <thead>
                              <tr>
                                <h4>
                                <th scope="col">Product name</th>
                                <th scope="col">company</th>
                                <th scope="col">cost</th>
                                
                                <th scope="col">No of items</th>
                                <th scope="col">BuyNow</th>
                                <th scope="col">Delete</th>
                              </h4>
                    
                              </tr>
                            </thead>
                            <tbody>
                              {% for pf in myproducts %}
                            <tr>
                                    
                                
                                <td><h5>{{pf.name}}</h5></td>
                                <td><h5>{{pf.company}}</h5></td>
                                <td><h5>₹{{pf.cost}}.00</h5></td> 
                               
                    
                               
                                    <!-- <form action="" method="GET">
                                            <a href="/deleteproduct/{{pf.id}}">
                                                <span class="text-muted">Delete</span>
                                              </a>
                                    </form>   -->
                                    
                                  
                                      {% for key,value in myproducts.items %}
                                      {% if key is pf %}
                    
                                        <td><h5>{{value}}</h5></td>
                    
                                        <td>
                                            <form action="/buynow/{{pf.id}}/">
                                              <button  id="demo" type="submit"class="btn btn-primary"><i class="fa fa-bolt"></i> Buy Now
                                              </button>
                                            </form>
                                            </td>
                                          <td>
                                            <form action="/deleteproduct/{{pf.id}}">
                                              <!-- <button type="submit">Delete<i class="fa fa-trash"></i></button> -->
                                              <button  id="demo" type="submit"class="btn btn-danger"><i class="fa fa-trash"></i> Delete
                                              </button>
                              
                                            </form>
                                          </td>
                                       
                                      {% endif %}
                                    {% endfor %}
                              
                            </tr>
                            {% endfor %}
                    
                        </tbody>
                    
                    </table>
                    
                    <div class="container">
                      <h3>Total Amount     : ₹ {{amt}}.00</h3>
                    
                    </div>
                    
                     
                    </div>
                       
                    </body>
                    {% else %}
                    <body>
                    <div class="container" >
                      <div class="row">
                    
                      <div class="col">
                      </div>
                      <div class="col">
                        
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSr_QBOdzTNyZRowIrIflHectUsgcxeFZ3fvMZErrHhk36pmDi8LA" alt="asdgsdgsdfhgdhdfhdfhdfhdfghd" width="500" height="333">
                        </div>
                      <div class="col">
                        
                      </div>
                    </div>
                    </div>
                    
                    </div>
                    </body>
                    {% endif %}
                    
        </main>
        
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>
</html>