
<html>
<head>
        <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">
        
   
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
</head>
<body>
    <div class="container">
           
        <div class="row">
                <div class="col">

                    </div>
            <div class="col">
                    <h2>Username and password didnot match</h2>
                    <form action="/login/">
                       
                        <button type="submit"  class="btn btn-warning" color="dodgerblue">Try Again</button>
                    </form>
            </div>
            <div class="col">
            </div>
        </div>
            

    </div>

    
</body>
</html>
