
{% extends 'base/layout.html' %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col" style="padding: 10%">

            {% if registered %}
            <h3>Thank you for registering!</h3> <br><a href="/accview">
                <br>
                <br>
                <br>
                <button class="btn btn-primary">CreateAccount</button></a>
            {% else %}
            <p class="h2 text-uppercase mb-3 text-center text-info">Register</p>
            <form enctype="multipart/form-data" method="POST">
                {% csrf_token %} {{ user_form.as_p }}
                <input type="submit" name="" class=" btn-block btn btn-info" value="Register">
            </form>

            {% endif %}
        </div>
        <div class="col"></div>
    </div>
</div>

{% endblock %}